/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7faff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4a90e2;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.custom-button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
}

.custom-button:hover {
    background-color: #357ab7;
}

.classify-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.classify-btn:hover {
    background-color: #45a049;
}

#predictionResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#predictionResult {
    margin-top: 20px;
    color: #4a90e2;
}
